.productsList {
  margin: 32px;
  padding: 1rem;
}

.productsList ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  padding: 1rem;
  background-color: mintcream;
}
